<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Import danych</h1>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" name="name" placeholder="Nazwa pliku">
  <input type="file" name="file">
  <input type="submit" value="Importuj">
</form>
<div>
  {% for import in imports %}
    <p><a href="{% url 'plots:simpleimport_details' import %}">{{ import }}</a></p>
  {% endfor %}
  
  {{ plot_div|safe }}
  <br>
  {{ agregated_plot_div|safe }}
  
</div>
</body>
</html>