{% extends 'courses/base.html' %}

{% block content %}
  <!-- szczegóły kursu -->
  <div class="card">
   <div class="card-body">
     <h2 class="card-title">{{ course.title }}</h2>
     <p class="card-text">{{ course.description }}</p>
     <p class="card-text">Cena: {{ course.price }}</p>
     <p class="card-text">Data rozpoczęcia: {{ course.start_data }}</p>
     <p class="card-text">Data zakończenia: {{ course.end_data }}</p>
     {% if user.is_authenticated and not user_enrolled %}
     <form method="post" action="{% url 'course-enroll' course.id %}">
       {% csrf_token %}
       <button type="submit" class="btn btn-primary">Zapisz się</button>
     </form>
     {% endif %}
   </div>
  </div>

  <!-- opinie o kursie -->
  <h3>Opinie</h3>
  {% for review in reviews %}
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">{{ review.user.username }}</h5>
        <p class="card-text">Ocena: {{ review.rating }}</p>
        <p class="card-text">Komentarz: {{ review.comment }}</p>
      </div>


    </div>
  {% endfor %}

  <!-- formularz oceny kursu -->
  <h3>Dodaj opinię</h3>
  <form method="post" action="{% url 'add-review' course.id %}">
    {%  csrf_token %}
    <div class="form-group">
      <label for="rating">Ocena</label>
      <select class="form-control" id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="comment">Komentarz</label>
      <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj opinię</button>
  </form>


{% endblock %}